<app-users-search (search)="refreshUsers($event)"></app-users-search>

<div *ngIf="pagedResult">
  <table class="table">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email address</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pagedResult.data">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.emailAddress}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-sm btn-outline-primary" (click)="previous()" *ngIf="pagedResult.pageNumber !==0">Previous</button>
  <button class="btn btn-sm btn-outline-primary float-right" (click)="next()"
          *ngIf="pagedResult.pageNumber < pagedResult.totalPages -1">Previous</button>
</div>
